.exercise-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 3px dotted #ccc;
}

.canvas-figure {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 750px;
}

.canvas-figure canvas,
.canvas-figure img {
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.canvas-figure figcaption {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.canvas-figure figcaption .button {
  margin-left: 15px;
}
